.sidebar-container {
  position: relative;
  height: 100vh;
}

.resizable-sidebar {
  display: flex;
  height: 100vh;
  background-color: #f4f4f4;
  position: absolute;
  user-select: none;
}

.move-handle {
  width: 10px;
  cursor: move;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: -10px;
  bottom: 0;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: aqua;
}

.resizer {
  width: 5px;
  cursor: ew-resize;
  background-color: #ddd;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
